/* Ajout des style de base a mettre sur le site */

* {
    min-width: 0;
    font-family: Inter;
    list-style: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, video, svg{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
}


h2{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-wrap: break-word;
}

h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 7vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-wrap: break-word;
}

p {
    text-wrap: pretty;
}

body{
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

/* Fin des styles de base */