body{
    background-color: #ffffff;
}
h1{
    padding-bottom: 50px;
}
main > h2 {
    padding-left: 20%;
    padding-right: 20%;
}

header > img{
    position:absolute;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    top: 40px;
    left: 45px;
}
main> nav> ul > li> img{
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), white 50% / cover no-repeat;
    width: 390px;
    height: 243px;
    flex-shrink: 0;
    margin-bottom: 50px;
    border: black  3px solid;
}
main > nav > ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
body > main > nav > ul > li{
    min-height: 400px; /*la hauteur minimum est de 400px*/
    border-radius: 20px;
    background: #0B60B0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 32px;/*Taille de la police*/
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 3px;
}
main > nav > ul > li > a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
}
main > h1{
    padding-left: 500px;
    padding-right: 500px;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}
#questions{
    font-size: 45px;
}

/* le reponsive (à modifier) */
@media (max-width: 1280px) {
    main > nav > ul {
        display: block;
        align-items: center;
    }

    main > nav > ul > li {
        align-items: center;
    }
}